@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$custom-colors: (
  'purple': #bd2381,
  'black': $black
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrap/scss/bootstrap";



.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-dark .navbar-nav .nav-link.active {
  font-weight: 600;
  color: #fbdf00;
}

.btn-rounded {
  border-radius: 60px;
}